/java/GaloesParaLitros/nbproject/private/
/java/GaloesParaLitros/build/
/java/CondicaoIf/nbproject/private/
/java/CondicaoIf/build/
/java/CondicaoFor/nbproject/private/
/java/CondicaoFor/build/
/java/BlocoDemo/nbproject/private/
/java/BlocoDemo/build/
