/java/GaloesParaLitros/nbproject/private/
/java/GaloesParaLitros/build/
/java/CondicaoIf/nbproject/private/
/java/CondicaoIf/build/
/java/CondicaoFor/nbproject/private/
/java/CondicaoFor/build/
/java/BlocoDemo/nbproject/private/
/java/BlocoDemo/build/
/java/PenseMais/nbproject/private/
/java/PenseMais/build/
/java/Prova/nbproject/private/
/java/Prova/build/
/java/Lampada/nbproject/private/
/java/ProvaFinal/nbproject/private/
/java/ProvaFinal/build/
/java/Chat/nbproject/private/
/java/Chat/build/
/java/Chat/dist/
/java/Chat01/nbproject/private/
/java/Chat01/build/
/java/chat-blocking/nbproject/private/
/java/chat-blocking/build/
/java/TekurSwing/nbproject/private/
/java/tekurSwing/nbproject/private/
/.metadata/
/java/tekurSwing/build/
AV02.mp4
