@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <p>
        Projeto feito para as avaliações das materias:<br/>
        Tópicos Integradores - Analista de Software e Infraestrutura de TI e Tópicos Integradores - Analista de Redes de Computadores
    </p>
</div>

<partial name="/Views/Home/ListDogsBreeds.cshtml"/>
