html { font-size: 14px; }

@media (min-width: 768px) {
    html { font-size: 16px; }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}


.bg-img-1 {
    background-image: url('https://images.pexels.com/photos/247522/pexels-photo-247522.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}

.bg-img-2 {
    background-image: url('https://images.pexels.com/photos/1452717/pexels-photo-1452717.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}

.bg-img-3 {
    background-image: url('https://images.pexels.com/photos/1254140/pexels-photo-1254140.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}

.carousel-image {
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.btnmanual { margin: 10px 1px; }