@model Caninos.Models.Dog

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Dog</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sexo" class="control-label"></label>
                <select asp-for="Sexo" class="form-control">
                    <option value="Macho">Macho</option>
                    <option value="Femia">Femia</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="BreedId" class="control-label"></label>
                <select asp-for="BreedId" class="form-control" asp-items="ViewBag.BreedId"></select>
                <span asp-validation-for="BreedId" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <div class="row-cols-3">
                    <input type="submit" value="Save" class="btn btn-outline-primary col-4 m-lg-2"/>
                    <a class="btn btn-danger col-6 m-lg-4" asp-controller="Home" asp-action="Index">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</div>
<br/>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
