@model Caninos.Models.Breed

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Breed</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <div class="row-cols-3">
                    <input type="submit" value="Save" class="btn btn-primary col-4 m-lg-2"/>
                    <a class="btn btn-danger col-6 m-lg-4" asp-controller="Home" asp-action="Index">Voltar a Lista</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
